body {
    margin: 0;
    font-family: "Inter", sans-serif;
    color: #fff;
    background: #1c1c1c;
}

.elements-container {
    max-width: 470px;
    margin: 50px auto;
    background: #1f2937;
    padding: 50px 70px;
    border-radius: 2px;
}

h1 {
    font-family: "Karla", sans-serif;
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 5px;
    max-width: 360px;
}

span {
    color: #4adf86;
}

p {
    font-size: 22px;
    color: #d5d4d8;
}

#button-and-dropdown-container {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
}

button {
    font-family: "Inter", sans-serif;
    height: 50px;
    min-width: 228px;
    background: #10b981;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 600;
    transition: transform 0.2s;
    margin: 0 25px 20px 0;
}

button:hover {
    background: #fff;
    color: #10b981;
}

button:active {
    transform: scale(0.97);
}

#dropdown-container {
    padding-top: 8px;
}

select {
    height: 35px;
    border: none;
    padding-right: 5px;
    border-radius: 5px;
    width: 105px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 15px;
    background: #d5d4d8;
    text-align: center;
}

select:hover {
    background: #fff;
}

#dropdown-guide-text {
    font-size: 13px;
    margin-top: 8px;
}

#divider-line {
    margin: 50px 0 46px 0;
    height: 2px;
    background: #2f3e53;
    border-radius: 2px;
}

#passwords-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
    align-items: center;
}

.password {
    border: none;
    border-radius: 5px;
    height: 30px;
    padding-top: 12px;
    background: #273549;
    width: 220px;
    text-align: center;
    color: #55f991;
    margin: 4px 0;
    min-width: 120px;
    font-size: 16px;
}

#first-password {
    margin-right: 25px;
}

.copy-btn {
    min-width: 75px;
    height: 35px;
    margin-top: 5px;
    color: #1f2937;
    font-size: 13px;
    font-weight: 700;
    background: #7691b2;
    padding: 5px 10px;
}

.copy-btn:hover {
    background: #a4b6cc;
    color: #1f2937;
}

#pitch-section {
    margin-top: 150px;
}

h2 {
    font-size: 33px;
    margin-bottom: 50px;
}

#divider-line-2 {
    margin-bottom: 30px;
    height: 5px;
    background: #2f3e53;
    border-radius: 2px;
    width: 130px;
}

h3 {
    font-size: 20px;
    margin: 30px 0 8px 0;
}

#pitch-section p {
    font-size: 15px;
    margin: 8px 0 0 0;
}

a {
    color: #55f991;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    font-size: 15px;
    color: #d5d4d8;
    font-family: "Inter", sans-serif;
    margin: 4px 0;
    background-image: url("images/checkmark.png");
    background-repeat: no-repeat;
    background-position: left-center;
    background-size: 20px;
    padding-left: 30px;
}

#pitch-section button {
    margin-top: 40px;
}